<div>
  <div *ngIf="mode=='display'">
    
  </div>
  <div *ngIf="mode!='display'">
    <form class="form-inline" [formGroup]="sportsForm">
      <div class="form-group">
        <label for="sportName">Name:</label>
        <input class="form-control" name="sportName" [formControl]="sportName" required/>
        <div *ngIf="isFormSubmitted && sportName.hasError('required')">
          <span style="color:red">Name is required</span>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description:</label>
        <input class="form-control" name="description" [formControl]="description"/>
      </div>

      <button class="btn btn-default" (click)="save()">
        Submit
      </button>
    </form>
  </div>
</div>